.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgba(255, 255, 255, 0.6);
}

.spring.season-display {
    background-image: linear-gradient(to left bottom, #e00000, #4c00e0);
}
.summer.season-display {
    background-image: linear-gradient(to bottom left, #bbff00, #00ff9d);
}
.fall.season-display {
    background-image: linear-gradient(to bottom left, #ff3300, #ffc400);
}
.winter.season-display {
    background-image: linear-gradient(to bottom left, #00ffea, #2f00ff);
}
.text {
    font-size: 7em;
    text-align: center;
}
i.icon-left {
    position: absolute;
    top: 30px;
    left: 20px;
}
i.icon-right {
    position: absolute;
    bottom: 30px;
    right: 20px;
}
